/* начало css */

/* Здесь базовые стили для старых браузеров. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 7vw Calibri, Arial;
}
body {
  padding: 1vw;
}
div {
  background: #aaa;
  padding: 1vw;
  position: fixed;
  bottom: 0vw;
  left: 0vw;
  width: 100vw;
}
div input {
  border: none;
  padding: 1vw;
  width: 77%;
  margin-right: .5%;
}
div button {
  width: 19%;
  border: none;
  padding: 1vw;
  background: #08f;
  color: #fff;
  float: right;
}
.test-block {
  display: none;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  padding: 1vw 1vw;
}
#messages li:nth-child(odd) {
  background: #eee;
}

@media only screen and (min-width: 480px) {
  /* Здесь стили более разумных, но все еще мобильных устройств. Android, iPhone  и так далее. */
  * {
    font: 6vw Calibri, Arial;
  }
  div button {
    color: #aaa;
  }
  #w480 {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  /* Планшеты в режиме portrait. */
  * {
    font: 5vw Calibri, Arial;
  }
  div button {
    color: #777;
  }
  #w768 {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  /* Планшеты в режиме landscape, нетбуки, ноутбуки, десктоп. */
  * {
    font: 2vw Calibri, Arial;
  }
  div {
    background: none;
    padding: 1vw;
    position: fixed;
    bottom: 3vw;
    left: 20vw;
    width: 60vw;
  }
  div input {
    padding: 1vw;
    width: 77%;
    margin-right: .5%;
    border-bottom: 1px solid;
  }
  div button {
    color: #444;
  }
  #w992 {
    display: block;
  }
}

@media only screen and (min-width: 1382px) {
  /* Десктоп с большими разрешениями, телевизоры. */
  * {
    font: 1vw Calibri, Arial;
  }
  div button {
    color: #111;
  }
  #w1382 {
    display: block;
  }
}

/* Конец css */
