/* начало css */
/* Здесь базовые стили для старых браузеров. */

* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}
body { 
  font: 13px Calibri, Arial;
}
div {
  /* background: #000; */
  padding: 3px; 
  position: fixed; 
  bottom: 0; 
  width: 100%; 
}
div input { 
  border: 0; 
  padding: 10px; 
  width: 90%; 
  margin-right: .5%; 
}
div button { 
  width: 9%; 
  background: rgb(130, 224, 255); 
  border: none; 
  padding: 10px; 
}
#messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}
#messages li { 
  padding: 5px 10px; 
}
#messages li:nth-child(odd) { 
  background: #eee; 
}
 
@media only screen and (min-width: 480px) {
/* Здесь стили более разумных, но все еще мобильных устройств. Android, iPhone  и так далее. */
 
}
 
@media only screen and (min-width: 768px) {
/* Планшеты в режиме portrait. */
 
}
 
@media only screen and (min-width: 992px) {
/* Планшеты в режиме landscape, нетбуки, ноутбуки, десктоп. */
 
}
 
@media only screen and (min-width: 1382px) {
/* Десктоп с большими разрешениями, телевизоры. */
 
}
 
 
/* конец css */