/* начало css */
/* Здесь базовые стили для старых браузеров. */

* {
  /*
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  */
  font: 2.5vh Calibri, Arial;
}
body {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}
h1 {
  color: #17a2b8;
  padding-top: 10vh;
}
.test-block {
  display: none;
}
.container {
  max-width: 90vw;
  min-width: 80vw;
}
#message-input {
  border-radius: 3vw;
  padding: 1vw;
  width: 77%;
  margin-right: .5%;
  text-align: center;
  outline:none;
}
#message-send {
  border-radius: 3vw;
  float: right;
  width: 19%;
  padding: 1vw;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  padding: 1vw 1vw;
}
#messages li:nth-child(odd) {
  background: #eee;
}
#autoimage {
  width: 100%;
  height: auto;
  max-width: 470px;
}
#w0 {
  display: inline;
}
#chat-block {
  /* background: #eee; */
  padding: 1vw;
  position: fixed;
  bottom: 0vw;
  left: 0vw;
  width: 100vw;
  background: linear-gradient(#fff 1%, #ddd 50%);
}

@media only screen and (min-width: 480px) {
  /* Здесь стили более разумных, но все еще мобильных устройств. Android, iPhone  и так далее. */
  * {
    font: 2.6vh Calibri, Arial;
  }
  #w480 {
    display: inline;
  }
}

@media only screen and (min-width: 768px) {
  /* Планшеты в режиме portrait. */
  * {
    font: 2.7vh Calibri, Arial;
  }
  #w768 {
    display: inline;
  }
}

@media only screen and (min-width: 992px) {
  /* Планшеты в режиме landscape, нетбуки, ноутбуки, десктоп. */
  * {
    font: 3vh Calibri, Arial;
  }
  h1 {
    padding-top: 15vh;
  }
  #chat-block {
    background: none;
    padding: 1vw;
    position: fixed;
    bottom: 3vw;
    left: 20vw;
    width: 60vw;
  }
  #message-input {
    padding: 1vw;
    width: 77%;
    margin-right: .5%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid;
  }
  #message-send {
    border-radius: 2vw;
  }
  #w992 {
    display: inline;
  }
}

@media only screen and (min-width: 1382px) {
  /* Десктоп с большими разрешениями, телевизоры. */
  * {
    font: 3vh Calibri, Arial;
  }
  h1 {
    padding-top: 20vh;
  }
  #w1382 {
    display: inline;
  }
}

/* Конец css */
